/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #808080;
  font-size: 16px;
}

/* UTILITIES */
.conteiner {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float{
  float: left;
}

.wid-50 {
  width: 50%;
}

.button{
  display: inline-block;
  min-width: 100px;
  line-height: 23px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #fff;
}

.button:hover {
  background-color: #fff;
  color: #0c325a;
}

.btn-green{
  border: none;
  background-color: #7cbb02;
}

.btn-green:focus {
  background-color: #4778aa;
  color: #0c325a;
}

.btn-green:active {
  background-color: #4778aa;
  color: purple;
}

.bnt-big{
  padding: 20px;
}

/* TEXT STYLES */
a {
  color: #5586bc;
}

a:hover {
  color: pink;
}

a:active {
  color: purple;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h2 {
  margin-bottom: 15px;
  font-size: 28px;
  color: #000;
}

p {
  line-height: 150%;
  font-size: 18px;
}

.text-center{
  text-align: center;
}

/* HEADER */
.main-header {
  height: 560px;
  background-image: url('../img/background-header.png');
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: right bottom;
  background-color: #0c325a;
}

/* TOP NAV */
.header-nav {
  line-height: 80px;
  font-size: 12px;
  text-transform: uppercase;
}

.header-logo {
  width: 15%;
}

.header-logo img {
  vertical-align: middle;
}

.header-nav-left{
  width: 45%;
}

.header-nav a{
  text-decoration: none;
  color: #fff;
}

.header-nav li a:not(.button):hover {
  color: #7cbb02;
}

.header-nav li a:not(.button):focus {
  color: purple;
}

.header-nav li a:not(.button):active {
  color: aqua;
}

.menu-inline li{
  display: inline-block;
  padding: 0 10px;
}

.menu-inline li:first-child {
  padding-left: 0;
}

.menu-inline li:last-child {
  padding-right: 0;
}

.header-nav-right{
  width: 40%;
}

/* HEADER Jumbotron */
.jumbotron{
  position: relative;
  height: 480px;
}

.jumbotron-intro{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.jumbotron-intro h1{
  margin-bottom: 30px;
  font-size: 56px;
  color: #fff;
}

/* MAIN */
.main-top {
  padding: 40px 10px;
  background-color: #d3d3d3;
}

.main-top p {
  font-size: 20px;
}
/* MAIN CENTER */
.col-3{
  float: left;
  width: 33%;
  padding: 0 20px;
}

.info {
  padding: 40px 10px;
  border-bottom: 1px solid #d3d3d3;
}
.info img {
  height: 150px;
  margin-bottom: 20px;
}

.info h3 {
  font-size: 28px;
  color: #7cbb02;
}

.info h3::after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  margin: 25px auto;
  background-color: #d3d3d3;
}

/* MAIN BOTTOM */
.plan-col {
  padding: 50px;
}

h2.big {
  line-height: 120%;
  font-size: 36px;
}

.plan p {
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  background-color: #d3d3d3;
}

.footer-right span {
  text-align: left;
  padding-right: 10px;
  margin: 0 30px;
  border-bottom: 1px solid;
}

.footer-right span i{
  text-align: right;
  padding-left: 50px;
}

.footer-right span:hover{
  color: #fff;
}

.bnt-footer a {
  float: right;
  transform: translateY(-50%);
}

.help-bnt {
  position: fixed;
  bottom: 0;
  right: 18%;
}

.help-bnt a {
  border-radius: 5px 5px 0 0;
}
